# Ignore the virtual environment folder
venv/

# Ignore environment variable files
.env
ENV/
.venv/
instance/
.pytest_cache/

# Ignore Python cache files
__pycache__/
*.pyc

# Ignore VSCode settings (optional)
.vscode/

# Ignore macOS and Windows system files
.DS_Store
Thumbs.db